History/
History/*
__Previews/
__Previews/*
*.PrjPcbStructure
*/*.PrjPcbStructure
'Project Outputs for control'/
'Project Outputs for control'/*
'Project Logs for control'/
'Project Logs for control'/*
